<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/auth/login.css">
    <title>DevBook</title>
</head>

<body>
    <main>
        <section id="container">
            <div id="container-login">
                <div id="titulo">
                    <h1>DEVBOOK</h1>
                </div>
                <!--Formulário-->
                <div id="login">
                    <form action="../main/index.html">
                        <h2>Entrar</h2>
                        <p>Acesse o DevBook usando o seu e-mail e senha.</p>

                        <!--Divisão entre os inputs para haver espaçamento entre eles-->
                        <div class="divisao-inputs">
                            <div class="textos">
                                <label for="e-mail">Email</label>                         
                                <a href="#">Precisa de ajuda?</a>
                            </div>
                            <input type="email" placeholder="Digite seu endereço de email" name="email_do_usuario" id="e-mail" required>
                        </div>

                        <div class="divisao-inputs">
                            <div class="textos">
                                <label for="senha">Senha</label>
                                <a href="#">Esqueceu a senha?</a>
                            </div>
                            <input type="password" name="senha_do_usuario" id="senha" placeholder="Digite sua senha" required>
                        </div>

                        <button id="btn-entrar">Entrar</button>
                    </form>
                </div>
                
                <div id="paragrafo-criar-conta">
                    <p>
                        Novo em nossa plataforma? <a href="../../views/auth/register.html">Crie a sua conta aqui</a>
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>