<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/auth/register.css">
    <title>Cadastro conta DevBook</title>
</head>
<body>
    <main>
        <section id="container">
            <div id="container-register">
                <div id="titulo">
                    <h1>DEVBOOK</h1>
                </div>
                <!--Formulário-->
                <div id="register">
                    <form action="../main/index.html">
                        <h2>Cadastro</h2>
                        <p>Cadastre-se no DevBook</p>

                        <!--Divisão entre os inputs para haver espaçamento entre eles-->
                        <div class="divisao-inputs">
                            <div class="textos">
                                <label for="nome">Nome</label>                         
                            </div>
                            <input type="text" placeholder="Digite seu nome" name="nome_do_usuario" id="nome" required>
                        </div>

                        <div class="divisao-inputs">
                            <div class="textos">
                                <label for="descricao">Descrição</label>
                            </div>
                            <input type="text" name="descricao_do_usuario" id="descricao" placeholder="Digite sua descricao">
                        </div>
                        
                        <div class="divisao-inputs">
                            <div class="textos">
                                <label for="e-mail">Email</label>                         
                            </div>
                            <input type="email" placeholder="Digite seu endereço de email" name="email_do_usuario" id="e-mail" required>
                        </div>

                        <div class="divisao-inputs">
                            <div class="textos">
                                <label for="senha">Senha</label>
                            </div>
                            <input type="password" name="senha_do_usuario" id="senha" placeholder="Digite sua senha" required>
                        </div>


                        <button id="btn-register">Cadastrar-se</button>
                    </form>
                </div>
                
                <div id="paragrafo-criar-conta">
                    <p>
                        Já possui conta? <a href="../../views/auth/login.html">Clique aqui e entre na sua conta</a>
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>