<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/auth/register.css">
    <title>Cadastro conta DevBook</title>
</head>
<body>
    <div id="conteiner-login">
        <div id="logo">
            <h1>DEVBOOK</h1>
        </div>

        <div id="login">
            <form action="../main/index.html">

                <label class="labels-grande" for="nome">Nome:</label>
                <input type="text" id="nome" placeholder="nome...." required>

                <label class="labels-grande" for="descricao">Descrição:</label>
                <input type="text" id="descricao" placeholder="descricao....">

                <label class="labels-grande" for="email">Email:</label>
                <input type="email" placeholder="e-mail...." id="email" required>
                <br>
                <label class="labels-grande" for="senha">Senha:</label>
                <input type="password" placeholder="senha...." id="senha" required>
                <br>

                <button type="submit">Cadastrar-se</button>
            </form>
        </div>
</body>
</html>