@import url(../reset.css);
@import url(../standart-color.css);

body {
    color: white;
    font-family: Arial;
}

a {
    color: #52B788;
}

a:hover {
    color: white;
    transition: 1.1s;
}

#container {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    background-color: var(--color-accent); 
    justify-content: center;
    align-items: center;
}

#container-login {
    padding: 1.2rem;
    border: 1px solid var(--color-primary-dark);
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-flow: column;
    width: 95%;
    height: auto;
    background-color: var(--color-primary);
}

#titulo h1{
    font-size: 2.2rem;
    padding: 1.2rem 0;
}

#login h2{
    font-size: 1.5rem;
}

#login p {
    padding: 5px 5px;
    font-size: 1.1rem;
}

.divisao-inputs {
    margin: 0.6rem;
    padding: 0.6rem 0.6rem;
}

.divisao-inputs input {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}

.divisao-inputs {
    text-align: left;
}

.textos {
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#btn-entrar {
    background-color: var(--color-accent);
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 80%;
    margin: 20px;
    border: none;
}

#btn-entrar:hover {
    background-color: var(--color-secondary);
    transition: 300ms;
    cursor: pointer;
}


#paragrafo-criar-conta {
    font-size: 1.2rem;
}

@media (min-width: 1024px) {
    #container-login {
        width: 50%;
        height: auto;

    }

    #titulo h1{
        font-size: 3rem;
    }

    #login h2{
        font-size: 2rem;
    }
            
    #login p {
        padding: 5px 5px;
        font-size: 1.4rem;
    }
    .divisao-inputs input {
        font-size: 1.2rem;
    }

    .textos,  #paragrafo-criar-conta{
        font-size: 1.4rem;
    }

    #btn-entrar {
        font-size: 2.1rem;
        width: 30%;
    }
    
}

@media (min-width: 1728px) {
    #container-login {
        width: 50%;
        height: auto;
    }

    #titulo h1{
        font-size: 3.2rem;
    }

    #login h2{
        font-size: 2.2rem;
    }
            
    #login p {
        padding: 5px 5px;
        font-size: 1.6rem;
    }

    .divisao-inputs input {
        font-size: 1.4rem;
    }

    .textos,  #paragrafo-criar-conta{
        font-size: 1.6rem;
    }

    #btn-entrar {
        font-size: 2.1rem;
        width: 30%;
    }

}