body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient( #000000, #319921);
    background-repeat: no-repeat;
    margin: 0;
}

#conteiner-login{
    color: white;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards {
    width: 900px;
}

#cards h1{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.labels-grande {
    text-align: center;
    font-size: 35px;

}

.input-email, .input-senha {
    display: flex;
    margin-top: 10px;
    
}

.input-email input {
    margin-left: 13px;
}

.input-email input, .input-senha input {
    width: 100%;
    border-radius: 5px;
}

.lembrar-senha {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    font-size: 1.2rem;
    gap: 5px;
}

.lembrar-senha input {
    margin: 0;
}

.bnt-Entrar {
    display: flex;
    justify-content: center;
}

.bnt-Entrar button{
    padding: 5px 100px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    background-color: #01a9c7;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #008197;
}

#esqueceu-senha{
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

#esqueceu-senha:hover{
    cursor: pointer;
    opacity: 80%;
}

#link-cadastro {
    text-decoration: none;
}

#link-cadastro:hover {
    opacity: 60%;
}

span hr{
    width: 500px;
}
