body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif;
    background-color: var(--backg-color);
    margin: 0;
}

/*Modo Responsivo de cores do sistema
         Dark e Light Mode
*/

:root {
    --font-color-cabecalho: black;
    --backg-color: white;
    --backg-cabecalho: #8D8F84;
    --backg-input-pesquisar: white;
}

@media (prefers-color-scheme: dark){
    :root {
        --font-color-input: white;
        --font-color-cabecalho: black;
        --backg-color: #1C2120;
        --backg-cabecalho: #8D8F84;
        --backg-input-pesquisar: #545454;
    }

    html {
        color-scheme: dark;
    }
}

/*Fim das configurações de cores*/


#cabecalho {
    padding: 15px 0 15px 0;
    background-color: var(--backg-cabecalho);
    text-align: center;
}

.navSpace {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}

#nav-do-cabecalho li {
    margin-left: 20px;
}

.pesqEsaida {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#logo:hover {
    opacity: 80%;
}

#pesquisar {
    margin-left: 10px;
    width: 30%;
    height: 40px;
    background-color: var(--backg-input-pesquisar);
    font-size: 20px;
    border: none;
    padding-right: 250px;
    color: var(--font-color-input);
}

#pesquisar::placeholder {
    color: var(--font-color-input);
    padding-left: 10px;
}

#pesquisar:focus {
    box-shadow: none;
    border: 0.1px solid black;
}

#nav-do-cabecalho ul{
    display: flex;
    list-style: none;
}

#nav-do-cabecalho li{
    padding: 0px 0 0 65px;
    font-size: 1.5rem;
    padding: 0;
}

#nav-do-cabecalho a {
    font-size: 22px;
    text-decoration: none;
    color: var(--font-color-cabecalho);

}

#nav-do-cabecalho a:hover {
    opacity: 80%;
}
