<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <link rel="stylesheet" href="../../assets/css/style-Cabecalho.css">
    <link rel="stylesheet" href="../../assets/css/notifications/style.css">
</head>
<body>
    <div id="cabecalho">
        <header class="navSpace">
            <div class="pesqEsaida">
                <a href="../exit/index.html">
                <img width="80px" id="logo" src="../../assets/images/header/logo.png" alt="logo"> </a>
                <input id="pesquisar" type="text" placeholder="Pesquisar">
            </div>
            <nav id="nav-do-cabecalho">
                <ul>
                    <a href="../main/index.html">
                    <img width="55px" src="../../assets/images/header/icon-casa.png" alt="Início">
                    <li>Início</li>
                    </a>
                    <a href="../messages/index.html">
                    <img width="55px" src="../../assets/images/header/icon-mensagem.png" alt="Mensagens">
                    <li>Mensagens</li>
                    </a>
                    <a href="../notifications/index.html">
                    <img width="55px" src="../../assets/images/header/icon-notificacao.png" alt="Notificações">
                    <li>Notificações</li>
                    </a>
                    <a href="../profile/index.html">
                        <img width="55px" src="../../assets/images/profile/perfil.png" alt="Meu perfil">
                        <li>Meu perfil</li> </a>
                </ul>
            </nav>
        </header>
    </div>
    <main>
        <section>
            <div id="container-notificacoes"></div>
        </section>
    </main>
        <script src="../../assets/js/notifications/script.js"></script>
</body>
</html>