@import url(../reset.css);
@import url(../standart-color.css);

body {
    background-color: var(--backg-color);
}

/*Modo Responsivo de cores do sistema
         Dark e Light Mode
*/

:root {
    --font-color: black;
    --backg-color: rgb(173, 173, 173);
    --font-color-li: white;
}

@media (prefers-color-scheme: dark){
    :root {
        --font-color: white;
        --backg-color: #1C2120;
        --font-color-li: white;

    }

    html {
        color-scheme: dark;
    }
}

/*Fim das configurações de cores*/

ul, li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

figcaption {
    color: var(--font-color);
}


img {
    border-radius: 50px;
}

#foto-perfil {    
    position: absolute;
    left: 980px;
}


#desc-foto {
    position: absolute;
    font-size: 55px;
    margin: 130px 880px;
    font-weight: bold;
}

#configuracoes {
    display: block;
    background-color: #303030;
    margin: 220px 0 0 870px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
#configuracoes:hover {
    background-color: #319921;
    transition: 1s;
    color: black;

}

#outrasopcoes {
    margin: 30px 0 0 0px;
    padding: 10px;
    height: 200px;
}

#outrasopcoes ul,li{
    text-align: center;
    padding-left: 5px;
    color: var(--font-color-li);
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 35px;
}

#outrasopcoes a {
    background-color: #303030;
    padding: 10px;
    border-radius: 15px;

}

#outrasopcoes a:hover {
    cursor: pointer;
    background-color: #319921;
    transition: 1s;
    color: black;
}

#sair {
    display: flex;
    background-color: #303030;
    border-radius: 15px;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 15px auto;
    padding: 10px 20px;

    /*Só vai pro centro se for display flex, margin: 15px auto*/
}

#sair p {
    color: var(--font-color-li);

}

#sair:hover {
    background-color: red;
    transition: 1s;
}