body {
    background-color: var(--backg-color);
}

/*Modo Responsivo de cores do sistema
         Dark e Light Mode
*/

:root {
    --font-color: black;
    --backg-color: rgb(173, 173, 173);
    --font-color-li: white;
}

@media (prefers-color-scheme: dark){
    :root {
        --font-color: white;
        --backg-color: #1C2120;
        --font-color-li: black;

    }

    html {
        color-scheme: dark;
    }
}

/*Fim das configurações de cores*/
