<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opções</title>
    <link rel="stylesheet" href="../../assets/css/style-Cabecalho.css">
    <link rel="stylesheet" href="../../assets/css/exit/style.css">
</head>
<body>
    <div id="cabecalho">
        <header class="navSpace">
            <div class="pesqEsaida">
                <a href="index.html">
                <img width="80px" id="logo" src="../../assets/images/header/logo.png" alt="logo"> </a>
                <input id="pesquisar" type="text" placeholder="Pesquisar">
            </div>

            <nav id="nav-do-cabecalho">
                <ul>
                    <a href="../main/index.html">
                    <img width="55px" src="../../assets/images/header/icon-casa.png" alt="Início">
                    <li>Início</li>
                    </a>
                    <a href="../messages/index.html">
                    <img width="55px" src="../../assets/images/header/icon-mensagem.png" alt="Mensagens">
                    <li>Mensagens</li>
                    </a>
                    <a href="../notifications/index.html">
                    <img width="55px" src="../../assets/images/header/icon-notificacao.png" alt="Notificações">
                    <li>Notificações</li>
                    </a>
                    <a href="../profile/index.html">
                        <img width="55px" src="../../assets/images/profile/perfil.png" alt="Meu perfil">
                        <li>Meu perfil</li> </a>
                </ul>
            </nav>
        </header>
    </div>
        <main>
            <section id="opcoes">
                <div>
                    <figure>
                        <img id="foto-perfil" src="../../assets/images/profile/perfil.png" alt="foto pessoa">
                        <figcaption id="desc-foto">Natanael</figcaption>
                    </figure>
                    <ul>
                        <a id="configuracoes" href="#" target="_blank">
                        <img src="../../assets/images/exit/icon-configuracoes.png" alt="engrenagem">
                        <li>Configurações</li>
                    </a>
                    </ul>
                </div>
                <div id="outrasopcoes">
                    <ul>
                        <a href="#" target="_blank">
                            <img src="../../assets/images/header/icon-notificacao.png" alt="sino">
                            <li>Notificações</li>
                        </a>

                        <a href="#" target="_blank">
                            <img src="../../assets/images/exit/icon-privacidade.png" alt="privacidade">
                            <li>Privacidade</li>
                        </a>

                        <a href="#" target="_blank">
                            <img src="../../assets/images/exit/icon-acessibilidade.png" alt="acessibilidade">
                            <li>Acessibilidade</li>
                        </a>

                        <a href="#" target="_blank">
                            <img src="../../assets/images/exit/icon-relatarProblema.png" alt="problema">
                            <li>Relatar problema</li>
                        </a>

                        <a href="#" target="_blank">
                            <img src="../../assets/images/exit/icon-temas.png" alt="temas">
                            <li>Temas</li>
                        </a>

                        <a href="#" target="_blank">
                            <img src="../../assets/images/exit/icon-ajudaESuporte.png" alt="ajuda e suporte">
                            <li>Ajuda e suporte</li>
                        </a>

                        <a href="#" target="_blank">
                            <img src="../../assets/images/exit/icon-darFeedback.png" alt="feedback">
                            <li>Dar feedback</li>
                        </a>

                        <a href="#" target="_blank">
                            <img src="../../assets/images/exit/icon-idioma.png" alt="idioma">
                            <li>Idioma</li>
                        </a>
                    </ul>
                </div>
                <button id="sair">
                    <a href="../index.html">
                        <img src="../../assets/images/exit/icon-sair.png" alt="Sair">
                        <p> Sair</p>
                    </a>
                </button>
        </main>
</body>
</html>